# google-chrome.desktop
[Desktop Entry]
Name=Google Chrome
GenericName=Web Browser
Exec=sh -c "exec \$HOME/bin/google-chrome-live \"\$@\"" google-chrome-live %U
Icon=google-chrome
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/http;x-scheme-handler/https;application/pdf;
